<html>

<head>
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
  </style>
</head>

<body>
  <strong>Ola, {{ purchase.buyer.name  }}.</strong>
  <p>A sua intenção de compra do anúncio {{ ad.title  }} foi aceita pelo vendedor {{ ad.author.name }}, o código da sua
    compra é {{ purchase._id }}.</p>
  <p>Agradecemos por utilizar nossa plataforma.</p>
  <p>Att. GoNode03 MarketPlace.</p>
</body>

</html>
