{% extends "_layouts/auth.njk" %}

{% block body %}
  <form action="/signup" method="post" enctype="multipart/form-data">
    <label for="avatar">
      <img src="/images/avatar.svg" height="24" alt="Avatar do usuàrio" />
    </label>

    {% include "_partials/flash.njk" %}
    <input type="file" name="avatar" id="avatar" />
    <input type="text" name="name" placeholder="Nome completo" />
    <input type="email" name="email" id="email" placeholder="Seu e-mail" />
    <input type="password" name="password" id="password" placeholder="Senha secreta" />

    <label for="provider">
      <input type="checkbox" name="provider" id="provider" value="1" />
      Sou cabelereiro
    </label>

    <button type="submit">Cadastrar</button>

    <a href="/">Jà possuo uma conta!</a>
  </form>

  <script type="text/javascript">
    let avatarInput = document.getElementById('avatar')
    let img = document.querySelector('label[for=avatar] img')

    avatarInput.onchange = function(e) {
      img.classList.add('preview')
      img.src = URL.createObjectURL(e.target.files[0])
    }
  </script>
{% endblock %}
