<strong>Recuperação de senha</strong>

<p>Olá {{ name }}, recebemos uma solicitação de senha da conta ({{ email }}).</p>

<p>Se foi você que fez esta solicitação, utilize o token abaixo para alterar sua senha</p>

<strong>{{ token }}</strong>

<p>Ou, se preferir, <a href="{{ link }}">Clique aqui!</a></p>
