<strong>Alteração de senha</strong>

<p>Olá {{ name }}, a senha da conta ({{ email }}) foi alterada recenemente.</p>

<p>Se foi você que fez esta alteração porfavor ignore este e-mail, caso contrário,
  recomendamos que troque a senha de seu email e da sua conta.</p>


<p>Obrigado por contar conosco, até mais! :D</p>
