<strong>Alteração de senha</strong>

<p>Olá {{ name }}, a senha da conta ({{ email }}) foi alterada recentemente.</p>

<p>Se foi você que fez esta alteração, por favor ignore este e-mail, caso contrário
  recomendamos que troque a senha de seu email e de sua conta no user.com.</p>


<p>Obrigado por contar conosco, até mais! :D</p>
