<strong>Nova tarefa!</strong>

<p>Olá {{ name }}, uma nova tarefa foi vinculada à você.</p>

<p><strong>Tarefa:</strong> {{ title }}</p>

@if(hasAttachment)
  <p>Olha que legal, um anexo foi adicionado e você pode visualizá-lo agora mesmo.</p>
@endif

<p>Atenciosamente, equipe user.com S2.</p>
