{% extends '_layouts/default.njk' %}

{% block body %}
    <div class="container">
        <div class="content">
          <strong>Olá, {{ user.name }}</strong>
            {% if (user.provider === true) %}
              <a href="/app/schedule" class="schedules">Meus agendamentos</a>
            {% endif %}
            <p>Veja seus próximos agendamentos:</p>
            <ul class="providers">
                {% if appointments.length > 0 %}
                  {% for appointment in appointments %}
                    <li class="provider">
                      <div>
                        <img src="/files/{{ appointment.provider.avatar }}" alt="{{ appointment.provider.name }}" />
                        <strong>Você possui um agendamento com {{ appointment.provider.name }} em {{ appointment.date | date("DD/MM")  }} ás
                        {{ appointment.date | date("HH:mm") }}</strong>
                      </div>
                    </li>
                  {% endfor %}
                {% else %}
                  <li class="provider">
                      <strong>Você ainda não possui agendamentos!</strong>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="content">
          <p>Inicie um agendamento escolhendo um profissional abaixo:</p>
          <ul class="providers">
            {% for provider in providers %}
              {% if provider.id !== user.id %}
                <li class="provider">
                  <div>
                    <img src="/files/{{ provider.avatar }}" alt={{ provider.name }} />
                    <strong>{{ provider.name }}</strong>
                  </div>
                  <a href="/app/appointments/new/{{ provider.id }}">+</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
    </div>
  <a href="/app/logout" class="logout">Sair</a>
{% endblock %}
