{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="container">
    <div class="big-content">
      <strong>Olá, {{ user.name }}</strong>
        <ul class="providers">
          {% if appointments.length > 0 %}
            {% for appointment in appointments %}
              {% if appointment.user.id !== user.id and appointment.provider_id === user.id %}
                <li class="provider">
                  <div>
                    <img src="/files/{{ appointment.user.avatar }}" alt={{ appointment.user.name }} />
                    <strong>Você possui um agendamento com {{ appointment.user.name }} em {{ appointment.date | date("DD/MM")  }} ás
                        {{ appointment.date | date("HH:mm") }}</strong>
                  </div>
                </li>
              {% endif %}
            {% endfor %}
          {% else %}
            <li class="provider">
                <strong>Você ainda não possui agendamentos!</strong>
              </li>
          {% endif %}
        </ul>
    </div>
    <a href="/app/dashboard" class="logout">Voltar</a>
  </div>
{% endblock %}
